
/* This will apply the font famly to all text. */
* { 
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';

    /* This didn't close header/browser gap.
    margin: 0;
    padding: 0;
    border: 0;

    Neither did this
    box-sizing: border-box; */

    
    
}


.clearfix:before,
.clearfix::after {
    content: " ";
    display: block;
}

.clearfix::after {
    clear: both;

}
.header {
    width: 100%;
    border-bottom: 3px solid #cccccc;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
       
}
#header-content {
    margin: 0 auto;
    width: 940px;
}

header {
    top: 30px;
    left: -10px;
    margin-top: 10px;
    width: 260px;
    padding-top: 5px;
    background-color: #4aaaa5;
    color: #ffffff;
    border-bottom-color: #cccccc;
    text-align: center;
    position: relative;

}


#profile-picture {
    width: 250px;
    float: left;
    margin-right: 20px;
}
#links {
    float: right;
    color: #777777;
    top: 50px;
}
/* contains the main content elements */
.wrapper {
    width: 960px;
    background-color: #ffffff;
    margin: 120px auto;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    padding: 10px;
    border-radius: 15px 50px 30px;
}
#message {
    height: 200px;
}
body {
    background-image: url("../images/swirl_pattern.png");
}
/* CSS dictates the last instruction is followed, so after the apply-all soluction we have to target h1 and h2 */
h1, h2 {
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    font-size: 30px;
}
h2 { width: 100%;
    border-bottom: 3px solid #dddddd;
    padding-bottom: 20px;
    color: #4aaaa5;
}
p { 
    line-height: 2;
    color: #777777;
}
#bio {
    margin-top: 30px;
    margin-right: 10px;
}
footer {
    height: 60px;
    width: 104%;
    left: -2%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
}
input {
    width: 99.7%;
    margin: 10px;
}
input[type=text]:focus {
    border: 1px solid black;
}
input[name=message] {
    height: 300px;
}
